<h3>New Goal:</h3>

<form action="<%= goals_url %>" method="post" accept-charset="utf-8">
  <%= get_auth_token %>

  <label for="name">Name</label>
  <input type="text" name="goal[name]" value="" id="name">
  <br>
  <select name="goal[privacy]" id="goal_privacy">
    <option value="public">Public</option>
    <option value="private">Private</option>
  </select>

  <label for="description">Description</label>
  <input type="text" name="goal[description]" value="" id="description">
  <br>




  <p><input type="submit" value="Create Goal"></p>
</form>